[submodule "deps/djinni"]
	path = deps/djinni
	url = https://github.com/dropbox/djinni.git
[submodule "lib/stackmat-reader"]
	path = lib/stackmat-reader
	url = https://github.com/oyyq99999/stackmat-reader.git
